:root{
    --navy: #2A262B;
    --dark-navy: #1e1c1e;
    --red: #E84A5F;
    --orange: #FF8473;
    --yellow: #feecab;
    --green: #99B898;
    --green-light: #cee1ce;
}
.body{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}
.main{
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    place-items: center;
}
/* Buttons Styling*/
.buttons-box{
    height: 12.5vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
    background-color: var(--green);
}
.buttons{
    display: grid;
    place-items: center;
}
.button{
    border: none;
    background-color: var(--navy);
    color: var(--yellow);
    padding: 12px 12px;
    border-radius: 6px;
    transition: background-color 0.3s, transform 0.3s;
}
.button:hover{
    background-color: var(--dark-navy);
    color: #ffffff;
    transform: translateY(-3px);
}
.button:active{
    transform: translateY(0px)
}
.acme-button{
  font-family: "Acme", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.prompt-text{
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Input Area */
.input-box{
    height: 25vh;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    margin: 10px 10px;
}

.input-box-left, .input-box-right{
    display: grid;
    place-items: center;
}

.target-key-input, .start-key-input, .target-chords-input, .submit{
    margin: 5px 0;
}

.output-box, .title-box{
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    font-weight: bold;
    font-family: 'Acme', sans-serif;
    text-align: center;
    display: grid;
    padding: 10px;
    margin: 10px 10px;
}
.output-box{
    background-color: #f1f1f1;
    color: var(--navy);
}
.title-box{
    background-color: var(--navy);
    color: var(--yellow)
}

.output-box{
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.chord-output {
    padding: 10px;
    margin: 10px 10px;
    background-color: var(--green);
    color: var(--navy);
    border-radius: 5px;
    font-weight: bold;
    font-family: 'Acme', sans-serif;
    text-align: center;
}

.input-area{
    color: var(--navy);
    border-radius: 5px;
}

@media screen and (max-width: 500px) {
    .input-box{
        height: 50vh;
        display: grid;
        place-items: center;
        grid-template-columns: 1fr;
        margin: 0px 10px;
    }
}