.body{
    width: 100vw;
    height: 100vh;
}
.buttons-box{
    width: 100vw;
    height: 20vh;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
    place-items: center;
}
.buttons{
    place-items: center;
}
.title-box{
    width: 100vw;
    height: 60vh;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
}
.title-text{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    width: 80vw;
    height: 60vh;
    place-items: center;
}